.success {
  background-image: linear-gradient(148deg, #44e371, #84cb84);
}
.middle {
  background-image: linear-gradient(148deg, #e9d93d, #d2df6b);
}
.bad {
  background-image: linear-gradient(148deg, #e96a3d, #df8e6b);
}
