<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-left">
        <h1 class="title">
          Наскільки ти кіберспортивний експерт? :)
        </h1>
        <h2 class="subtitle">
          Перевірь свої знання
        </h2>
        <button class="button is-primary is-rounded" routerLink="/quiz">Вперед</button>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Quiz app</strong> by
        <a href="https://github.com/yurakhomitsky">Yura Khomitskyi</a>.
      </p>
    </div>
  </footer>